<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjxc.school.mapper.SolutionMapper">



	<insert id="addSolution" parameterType="com.bjxc.school.Solution" useGeneratedKeys="true" keyProperty="id">
		insert t_institution_solution(solution_name) 
		values(#{solutionName})
	</insert>
	
</mapper>