<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjxc.school.mapper.TopUpMapper">
	
	<insert id="addTopUp" parameterType="com.bjxc.school.TopUp" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `51bjxc_micro_service`.`t_top_up`(`mny`,`account_id`,`create_time`) 
		VALUES(#{mny},#{accountId},now())
	</insert>
	
	
		
</mapper>